body {
    background-color:#000;
}

article {
    background-color:#333;
    border:1px solid white;
    padding:10px;
    border-radius:10px;
}

#scanInput > a {
    display:block;
    background-color:red;
    border:1px solid white;
    text-align:center;
    color:white;
    text-decoration:none;
    font-size:30px;
}

article h1 {
    color:yellow;
}

article h1 b {
    color:red;
    font-size:150%;
}

article h1::first-letter {
    color:white;
    font-size:150%;
}

article p {
    color:white;
}

#scanOutput {

}

#scanOutput article {
    margin-top:5px;
    padding:0px;
    overflow:hidden;
}

#scanOutput li {
    display:block;
    margin:5px;
}

#scanOutput img {
    width:100%;
}

article a, article a:visited {
    color:yellow;
}


#remove a, #remove a:visited{
    display:block;
    background:black;
    color:white;
    text-align:center;
    padding:10px;
    text-decoration:none;
}

#scanOutput h2 {
    margin:0px;
    padding:0px;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
}

#scanOutput h2 a, #scanOutput h2 a:visited {
    display:block;
    color:yellow;
    background-color:#369;
    margin:0px;
    padding:10px;
}

#scanOutput h2 a:hover {
    background-color:black;
    color:white;
}

#scanOutput li {
    border:1px dashed yellow;
}

#scanOutput p {
    background-color: #013;
    margin:0px;
    padding:10px;
}

#scanOutput article > a {
    display:block;
    text-align:right;
    background-color:black;
    color:white;
    padding:10px;
    text-decoration:none;
}

#scanOutput sup {
    color:red;
    font-size:70%;
    font-style:bold;
}

#ttsTextInput {
    display:block;
    background:#333;
    border:1px solid white;
    color:white;
}
